.MessageBoardView {
  text-align: center;
}

.MessageBoardView-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MessageBoardView-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.MessageBoardView-title {
  font-size: 1.5em;
}

.MessageBoardView-intro {
  font-size: large;
}

@keyframes MessageBoardView-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
